<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id = 'navBarHolder'>
            <ul>
                <li id = 'navLink'>
                    <a href = '/signUp'>Sign Up</a>
                </li>
                <li id = 'navLink'>
                    <a href = '/logIn'>Log In</a>
                </li>
            </ul>
        </div>
        <h1>Welcome to the home page of Members Only!</h1>

    </body>
</html>