<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id = 'navBar'>
      <ul>
        <li>
          <a href = '/signUp' id = 'navLink'>Sign Up</a>
        </li>
        <li>
          <a href = '/logIn' id = 'navLink'>Log In</a>
        </li>
      </ul>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
